@page
@model SleekClothing.Pages.products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<!-- Search section -->
<section class="bg-light py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mx-auto">
                <h2 class="text-center mb-4">Search for Products</h2>
                <form method="post" asp-page-handler="Search" class="d-flex">
                    <input type="search" name="SearchTerm" class="form-control me-2" placeholder="Search for products (e.g. Tops, Hoodies)" value="@Model.SearchTerm">
                    <select name="SelectedCategoryId" class="form-select me-2">
                        <option value="">All Categories</option>
                        @foreach (var category in Model.Categories)

                        {

                            if (Model.SelectedCategoryId == category.Id)

                            {
                                <option value="@category.Id" selected>@category.Name</option>
                            }

                            else

                            {
                                <option value="@category.Id">@category.Name</option>
                            }

                        }
                    </select>


                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                @if (!string.IsNullOrWhiteSpace(Model.SearchTerm) || Model.SelectedCategoryId.HasValue)

                {
                    <div class="text-center mt-3">
                        <button class="btn btn-outline-secondary" asp-page-handler="ResetSearch">Reset Filters</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Product Section -->
<section class="py-5">
    <div class="container">
        <header class="mb-4 text-center">
            @if (string.IsNullOrWhiteSpace(Model.SearchTerm))
            {
                <h3>All Products</h3>
            }
            else
            {
                <h3>Found @Model.Products.Count() Results for "@Model.SearchTerm"</h3>
            }
            @if (Model.Products.Count() == 0)
            {
                <p>Try searching for something else or <a asp-page="./Index">reset filters</a>.</p>
            }
        </header>

        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 border-0 my-2 shadow-2-strong">
                        @* Card Image *@
                        <img src="@product.ImageLocation" class="card-image position-relative card-img-top pb-2" style="aspect-ratio: 1 / 1; object-fit: cover;">

                        @* Buttons *@
                        <div class="card-buttons position-absolute w-100" style="bottom: 0; left: 0; background-color: rgba(255, 255, 255, 0.8); padding: 10px;">
                            <form method="post" class="d-flex gap-1 h-auto align-items-center justify-content-center bg-white border-0 py-2">
                                <a class="btn btn-outline-primary border px-2 pt-2" asp-page="/products/Details" asp-route-id="@product.Id">Details</a>
                                <button asp-page-handler="AddToCart" asp-route-productId="@product.Id" class="btn btn-outline-info border px-2 pt-2 icon-hover">
                                    <i class="fas fa-cart-plus fa-lg text-secondary px-1"></i>
                                </button>
                                <button asp-page-handler="AddToWishlist" asp-route-productId="@product.Id" class="btn btn-outline-danger border px-2 pt-2 icon-hover">
                                    <i class="fas fa-heart fa-lg text-secondary px-1"></i>
                                </button>
                            </form>
                        </div>

                        @* Card Content *@
                        <div class="d-flex flex-column h-100 p-3">
                            <h5 class="card-title">@product.Name</h5>
                            @if (product.HasDiscount)



                            {
                                <p class="text-success fw-bold mb-0">@product.Discount% OFF</p>
                                <div class="d-flex gap-2">
                                    <span class="text-decoration-line-through">
                                        @product.Price.ToString("c2")
                                    </span>
                                    <span class="fw-bold">
                                        @product.PriceAfterDiscount.ToString("c2")
                                    </span>
                                </div>
                            }



                            else



                            {
                                <span class="">
                                    @product.Price.ToString("c2")
                                </span>
                            }

                            @if (product.IsOutOfStock)



                            {
                                <p class="text-warning mb-0 fw-bold">OUT OF STOCK</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
